.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
}

.lavalamp-box {
    width: 500px;
    height: 500px;
    background-color: #00ff00; /* Greenish background */
    position: relative;
    overflow: hidden;
}

@keyframes moveUpDown {
    from {
        bottom: 0;
    }
    to {
        bottom: 400px;
    }
}