body {
    background-color: #000;
    color: #fff; /* For better readability against black background */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
}

.lavalamp-box {
    width: 500px;
    height: 500px;
    background-color: #00ff00; /* Greenish background */
    position: relative;
    overflow: hidden;
}

@keyframes moveUpDown {
    from {
        bottom: 0;
    }
    to {
        bottom: 400px;
    }
}

/* Styles for the lamp switch that's already in the JavaScript */
.switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    color: #fff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #ff6a00;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ff6a00;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch-label {
    font-weight: bold;
}