.lavalamp-box {
    width: 500px;
    height: 500px;
    background-color: #00ff00; /* Greenish background */
    position: relative;
    overflow: hidden;
}

.small-box {
    width: 5px;
    height: 5px;
    background-color: #ff6347; /* Reddish small box */
    position: absolute;
    bottom: 0;
    animation: moveUpDown 10s infinite alternate;
}

@keyframes moveUpDown {
    from {
        bottom: 0;
    }
    to {
        bottom: 400px;
    }
}